.idea/

myCode/mailbox/*

results/*
!results/explication.md

maps/*
!maps/explication.md

myCode/multi_agent/elements/__pycache__/*
myCode/multi_agent/agent/__pycache__/
myCode/multi_agent/communication/__pycache__/
myCode/multi_agent/__pycache__/*
myCode/my_utils/__pycache__/*
myCode/my_utils/GUI/GUI_simulation/__pycache__/*
*/__pycache__/*
*/*/__pycache__/
__pycache__/*
__init__
*/__init__
*.pyc
log/*
venv/*
