.idea/

**/__pycache__/
**/__init__/

src/mailbox/*

results/*
!results/explication.md

maps/*
!maps/explication.md

*.pyc
src/my_utils/GUI
 src/my_utils/GUI/__pycache__/__init__.cpython-37.pyc


log/*
venv/*
